body {
	background-color: white;
	padding: 50px;
  font-family: 'Roboto', sans-serif;
}

.sticky {
  background-color:white;
  position: fixed;
  margin-right:100px;
  width: 100%;
  left: 52.6%;
  top: 0;
  z-index: 100;
  border-top: 0;
}

/*.sticky th:first-child{
  width:28px;
}*/

.sticky th:first-child{
  width:30px;
}

.sticky th:nth-child(2){
  width:30px;
}

.sticky th:nth-child(3){
  width:30px;
}

.sticky th:nth-child(4){
  width:42px;
}

.sticky th:nth-child(5){
  width:30px;
}

.sticky th:nth-child(6){
  width:30px;
}

.sticky th:nth-child(7){
  width:30px;
}

.sticky th:nth-child(8){
  width:30px;
}

.sticky th:nth-child(9){
  width:30px;
}x

.sticky th:nth-child(10){
  width:43px;
}


.header-title{
	color: black;
}

.logo {
	width:100%;
	height:auto;
}

.lineHeader {
	border: 10px solid #36e242;
}

.login-holder {
	width:100%;
	height: auto;
	background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
	padding: 30px;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li h4 {
  	padding-top: 12px;
  	padding-bottom: 12px;
  	text-align: center;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.cover-dash {
	width:100%;
	height:auto;
}

.content-holder {
	padding: 20px;
	background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
}

.addbtn {
  float: right;
  margin: 5px 0;
}

.surv-input {
  width: 50px;
}

/*table tr th  {
  text-align: center;
}*/

.tbl-style tr td:nth-child(1){
  width:50%;
}

.tbl-general-style tr td:nth-child(2){
  width:33%;
}